/*
************
*************************
06. Button
******************************************************* 
*************************************************************** */

.repto_btn {
    width: 140px;
    height: 45px;
    display: flex;
    background-color: var(--clr-theme-1);
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 2px solid #fd4a36;
    &.contact_us {
        width: 170px;
        height: 55px;
    }
    &:hover {
        background-color: transparent;
        border: 2px solid #fd4a36;
        color: #fd4a36;
        transition: .3s ease-in;
    }
}

.services_tag {
    font-size: 13px;
    padding: 5px 15px;
    color: var(--clr-common-hover);
    font-weight: 600;
    text-align: center;
    background-color: #fd4a3614;
    border-radius: 5px;
}

.title-tag {
    border: 2px solid #ffffff20;
    color: #fff;
    padding: 0px 13px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

.view_more_btn {
    text-decoration: none;
    border: 2px solid #00142d1f;
    border-radius: 7px;
    padding: 13px 33px;
    font-size: 15px;
    font-weight: 500;
    color: var(--clr-body-heading);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:hover {
        background-color: #fd4a36;
        border: 2px solid #fd4a36;
        color: white;
        transition: .3s ease-in;
    }
}

.home3_tag {
    color: var(--clr-theme-1);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-left: 30px;
    &:before {
        content: "";
        width: 26px;
        height: 3px;
        position: absolute;
        top: 8px;
        left: 0;
        background-color: var(--clr-theme-1);
    }
}

.more_about_btn {
    width: 170px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    background: transparent;
    border: 2px solid #00142d18;
    color: #00142d;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
}

.popup-efects {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    &:after,
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        animation-name: popupBtn;
        animation-duration: 1.8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    &:before {
        animation-delay: .8s;
    }
    &:is(.popup2-video) {
        &:after,
        &:before {
            border: 1px solid #1c7bf790;
        }
    }
}